
@{
    ViewBag.Title = "About";
}


<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            @Html.Partial("_PartialCategories")

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            <h2>Hakkımızda </h2>

            

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
